<h1>b2-final-starter-7 x fast-garden-00456</h1>


<%= link_to 'Admin Merchants', admin_merchants_path %>
<%= link_to 'Admin Dashboard', admin_dashboard_index_path %>


<% @merchants.each do |merchant| %>
  <h3><%= link_to merchant.name, merchant_coupons_path(merchant) %></h3>
  <% merchant.coupons.each do |coupon| %>
    <%= link_to coupon.name, merchant_coupon_path(merchant, coupon) %><br>
  <% end %>
<% end %>



